.quienes-somos-informacion {
    text-align: center;
    background-color: $item_background;
    border: 2px $border_color solid;
    color: white;
    width: 25%;
    height: 15%;
    margin: auto;
    padding: 15px;
    overflow-wrap: break-word; 
}