@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --bs-body-bg: $background_color;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: $background_color;
}