footer {
    background-color: $top_bottom_color;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    p {
        text-align: center;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        a {
            img {
                width: 40px;
                height: 40px;
                margin: 1px;
            }
        }
    }
    h2 {
        margin: 30px;
        img {
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }
}