.parrafo-informacion {
    color: white;
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 5px;
        width: auto;
        height: auto;
        background-color: white;
        border: 2px $border_color solid;
        padding-left: 30px;
        padding-right: 30px;
        margin: 25px;
        text-align: center;
        background-color: $item_background;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }
    img {
        border: 2px $border_color solid;
        width: 450px;
        height: 300px;
    }

}